<div class="pull-left bgf">
    <h3><a href="udai_welcome.html" class="title">我的易购</a></h3>
    <dl class="user-center__nav">
        <dt>帐户信息</dt>
        <a href="/index/account/users"><dd>个人资料</dd></a>
        <a href="udai_treasurer.html"><dd>资金管理</dd></a>
        <a href="udai_integral.html"><dd>积分平台</dd></a>
        <a href="/index/account/address_edit"><dd>收货地址</dd></a>
        <a href="/index/account/coupon"><dd>我的优惠券</dd></a>
        <a href="/index/account/modifypay_1"><dd>修改支付密码</dd></a>
        <a href="/index/account/modifypwd_1"><dd>修改登录密码</dd></a>
    </dl>
    <dl class="user-center__nav">
        <dt>订单中心</dt>
        <a href="/index/order/order"><dd>我的订单</dd></a>
        <a href="/index/order/wishlist"><dd>我的收藏</dd></a>
        <a href="/index/order/refund"><dd>退款/退货</dd></a>
    </dl>
    <dl class="user-center__nav">
        <dt>服务中心</dt>
        <a href="udai_mail_query.html"><dd>物流查询</dd></a>
        <a href=""><dd>数据自助下载</dd></a>
        <a href="temp_article/udai_article1.html"><dd>售后服务</dd></a>
        <a href="temp_article/udai_article2.html"><dd>配送服务</dd></a>
        <a href="temp_article/udai_article3.html"><dd>用户协议</dd></a>
        <a href="temp_article/udai_article4.html"><dd>常见问题</dd></a>
    </dl>
</div>